head{
  background-color: grey
}
.navbar{
  background-color: orange;
  margin: 20px;
  padding: 10px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  text-decoration-color: none;
}

h1{text-align: center;
  color: blue;
  font-size: 32px;
  font-weight: bold;
}
h2{text-align: center;
  font-style: italic;
  font-size: 20px;
  color: white;
}
h3{
  text-align: center;
  color: black;
  font-weight: bold;
}

.intro{text-align: center;
  font-size: 18px;
  color: white;
  background-color: orange
}

.body {
background-color:black;
}

.Tropical{text-align: center;
  font-style: italic;
  font-weight: bold;
  font-size: 28px;
  color: #f7325e
}
.Destinations img{
  margin:10px;
}
.Destinations .image{
  float: left;
  color: white;
}
.Destinations{
  margin-left:15%;
}
.clear{
  clear: both;
}
.Popular{
  color: yellow;
  font-size: 28px;
  text-align: center;
}
.boxed{
  text-align: left;
  font-size: 18px;
  float: right;
  margin-top: 8px
}
.sidebar{
  text-align: left;
  background-color: #B4BDC7;
  float: left;
  padding-right:3px;
}
.card{
  font-weight: bold;
  text-align: center;
}
.test-box {
    border: 2px solid red;
    padding-right: 10px;
    padding-top: 10px;
    background: grey;
  }
.News{
  text-align: center;
  color: Red;
  font-size: 28px;
  font-weight: bold;
}












.footer {
  position: sticky;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: white;
  color: blue;
  text-align: center;
}
